blueprint.json
{
    "name": "Breakneck Comedy Order Confirmation - V1 (with database)",
    "flow": [
        {
            "id": 1,
            "module": "webflow:watchSites",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 61492
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "My Site webhook- V0.1"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:webflow",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "orderId",
                        "type": "text",
                        "label": "Order ID"
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "comment",
                        "type": "text",
                        "label": "Comment"
                    },
                    {
                        "name": "orderComment",
                        "type": "text",
                        "label": "Order Comment"
                    },
                    {
                        "name": "acceptedOn",
                        "type": "date",
                        "label": "Accepted On"
                    },
                    {
                        "name": "disputedOn",
                        "type": "date",
                        "label": "Disputed On"
                    },
                    {
                        "name": "disputeUpdatedOn",
                        "type": "date",
                        "label": "Dispute Updated On"
                    },
                    {
                        "name": "disputeLastStatus",
                        "type": "text",
                        "label": "Dispute Last Status"
                    },
                    {
                        "name": "fulfilledOn",
                        "type": "date",
                        "label": "Fulfilled On"
                    },
                    {
                        "name": "refundedOn",
                        "type": "date",
                        "label": "Refunded On"
                    },
                    {
                        "name": "customerPaid",
                        "spec": [
                            {
                                "name": "unit",
                                "type": "text",
                                "label": "Unit"
                            },
                            {
                                "name": "value",
                                "type": "number",
                                "label": "Value"
                            },
                            {
                                "name": "string",
                                "type": "text",
                                "label": "String"
                            }
                        ],
                        "type": "collection",
                        "label": "Customer Paid"
                    },
                    {
                        "name": "netAmount",
                        "spec": [
                            {
                                "name": "unit",
                                "type": "text",
                                "label": "Unit"
                            },
                            {
                                "name": "value",
                                "type": "number",
                                "label": "Value"
                            },
                            {
                                "name": "string",
                                "type": "text",
                                "label": "String"
                            }
                        ],
                        "type": "collection",
                        "label": "Net Amount"
                    },
                    {
                        "name": "shippingProvider",
                        "type": "text",
                        "label": "Shipping Provider"
                    },
                    {
                        "name": "shippingTracking",
                        "type": "text",
                        "label": "Shipping Tracking"
                    },
                    {
                        "name": "customerInfo",
                        "spec": [
                            {
                                "name": "fullName",
                                "type": "text",
                                "label": "Full Name"
                            },
                            {
                                "name": "email",
                                "type": "text",
                                "label": "Email"
                            }
                        ],
                        "type": "collection",
                        "label": "Customer Info"
                    },
                    {
                        "name": "allAddresses",
                        "spec": {
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "addressee",
                                    "type": "text",
                                    "label": "Addressee"
                                },
                                {
                                    "name": "line1",
                                    "type": "text",
                                    "label": "Line 1"
                                },
                                {
                                    "name": "line2",
                                    "type": "text",
                                    "label": "Line 2"
                                },
                                {
                                    "name": "city",
                                    "type": "text",
                                    "label": "City"
                                },
                                {
                                    "name": "state",
                                    "type": "text",
                                    "label": "State"
                                },
                                {
                                    "name": "country",
                                    "type": "text",
                                    "label": "Country"
                                },
                                {
                                    "name": "postalCode",
                                    "type": "text",
                                    "label": "Postal Code"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "All Addresses"
                    },
                    {
                        "name": "purchasedItems",
                        "spec": {
                            "spec": [
                                {
                                    "name": "count",
                                    "type": "number",
                                    "label": "Count"
                                },
                                {
                                    "name": "rowTotal",
                                    "spec": [
                                        {
                                            "name": "unit",
                                            "type": "text",
                                            "label": "Unit"
                                        },
                                        {
                                            "name": "value",
                                            "type": "number",
                                            "label": "Value"
                                        },
                                        {
                                            "name": "string",
                                            "type": "text",
                                            "label": "String"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Row Total"
                                },
                                {
                                    "name": "productName",
                                    "type": "text",
                                    "label": "Product Name"
                                },
                                {
                                    "name": "productSlug",
                                    "type": "text",
                                    "label": "Product Slug"
                                },
                                {
                                    "name": "variantName",
                                    "type": "text",
                                    "label": "Variant Name"
                                },
                                {
                                    "name": "variantSlug",
                                    "type": "text",
                                    "label": "Variant Slug"
                                },
                                {
                                    "name": "variantSKU",
                                    "type": "text",
                                    "label": "Variant SKU"
                                },
                                {
                                    "name": "variantImage",
                                    "spec": [
                                        {
                                            "name": "fileId",
                                            "type": "text",
                                            "label": "File ID"
                                        },
                                        {
                                            "name": "file",
                                            "spec": [
                                                {
                                                    "name": "size",
                                                    "type": "number",
                                                    "label": "Size"
                                                },
                                                {
                                                    "name": "width",
                                                    "type": "number",
                                                    "label": "Width"
                                                },
                                                {
                                                    "name": "height",
                                                    "type": "number",
                                                    "label": "Height"
                                                },
                                                {
                                                    "name": "fileName",
                                                    "type": "text",
                                                    "label": "File Name"
                                                },
                                                {
                                                    "name": "createdOn",
                                                    "type": "date",
                                                    "label": "Created On"
                                                },
                                                {
                                                    "name": "origFileName",
                                                    "type": "text",
                                                    "label": "Original File Name"
                                                },
                                                {
                                                    "name": "fileHash",
                                                    "type": "text",
                                                    "label": "File Hash"
                                                },
                                                {
                                                    "name": "mimeType",
                                                    "type": "text",
                                                    "label": "Mime Type"
                                                },
                                                {
                                                    "name": "s3Url",
                                                    "type": "text",
                                                    "label": "S3 URL"
                                                },
                                                {
                                                    "name": "__v",
                                                    "type": "number"
                                                },
                                                {
                                                    "name": "_id",
                                                    "type": "text",
                                                    "label": "_ID"
                                                },
                                                {
                                                    "name": "database",
                                                    "type": "text",
                                                    "label": "Database"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "File"
                                        },
                                        {
                                            "name": "fileSize",
                                            "type": "number",
                                            "label": "File Size"
                                        },
                                        {
                                            "name": "url",
                                            "type": "text",
                                            "label": "URL"
                                        },
                                        {
                                            "name": "alt",
                                            "type": "text",
                                            "label": "Alt"
                                        },
                                        {
                                            "name": "tmp",
                                            "type": "text",
                                            "label": "Tmp"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Variant Image"
                                },
                                {
                                    "name": "variantPrice",
                                    "spec": [
                                        {
                                            "name": "unit",
                                            "type": "text",
                                            "label": "Unit"
                                        },
                                        {
                                            "name": "value",
                                            "type": "number",
                                            "label": "Value"
                                        },
                                        {
                                            "name": "string",
                                            "type": "text",
                                            "label": "String"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Variant Price"
                                },
                                {
                                    "name": "weight",
                                    "type": "number",
                                    "label": "Weight"
                                },
                                {
                                    "name": "height",
                                    "type": "number",
                                    "label": "Height"
                                },
                                {
                                    "name": "width",
                                    "type": "number",
                                    "label": "Width"
                                },
                                {
                                    "name": "length",
                                    "type": "number",
                                    "label": "Length"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Purchased Items"
                    },
                    {
                        "name": "purchasedItemsCount",
                        "type": "number",
                        "label": "Purchased Items Count"
                    },
                    {
                        "name": "stripeDetails",
                        "spec": [
                            {
                                "name": "customerId",
                                "type": "text",
                                "label": "Customer ID"
                            },
                            {
                                "name": "chargeId",
                                "type": "text",
                                "label": "Charge ID"
                            },
                            {
                                "name": "disputeId",
                                "type": "text",
                                "label": "Dispute ID"
                            },
                            {
                                "name": "paymentIntentId",
                                "type": "text",
                                "label": "Payment Intent ID"
                            },
                            {
                                "name": "paymentMethod",
                                "type": "text",
                                "label": "Payment Method"
                            },
                            {
                                "name": "refundId",
                                "type": "text",
                                "label": "Refund ID"
                            },
                            {
                                "name": "refundReason",
                                "type": "text",
                                "label": "Refund Reason"
                            }
                        ],
                        "type": "collection",
                        "label": "Stripe Details"
                    },
                    {
                        "name": "stripeCard",
                        "spec": [
                            {
                                "name": "last4",
                                "type": "text",
                                "label": "Last 4"
                            },
                            {
                                "name": "brand",
                                "type": "text",
                                "label": "Brand"
                            },
                            {
                                "name": "ownerName",
                                "type": "text",
                                "label": "Owner Name"
                            },
                            {
                                "name": "expires",
                                "spec": [
                                    {
                                        "name": "month",
                                        "type": "number",
                                        "label": "Month"
                                    },
                                    {
                                        "name": "year",
                                        "type": "number",
                                        "label": "Year"
                                    }
                                ],
                                "type": "collection",
                                "label": "Expires"
                            }
                        ],
                        "type": "collection",
                        "label": "Stripe Card"
                    },
                    {
                        "name": "customData",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "checkbox",
                                    "type": "boolean",
                                    "label": "Checkbox"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Custom Data"
                    },
                    {
                        "name": "paypalDetails",
                        "type": "text",
                        "label": "Paypal Details"
                    },
                    {
                        "name": "applicationFee",
                        "spec": [
                            {
                                "name": "value",
                                "type": "number",
                                "label": "Value"
                            },
                            {
                                "name": "unit",
                                "type": "text",
                                "label": "Unit"
                            }
                        ],
                        "type": "collection",
                        "label": "Application Fee"
                    },
                    {
                        "name": "paymentProcessor",
                        "type": "text",
                        "label": "Payment Processor"
                    },
                    {
                        "name": "shippingAddress",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "addressee",
                                "type": "text",
                                "label": "Addressee"
                            },
                            {
                                "name": "line1",
                                "type": "text",
                                "label": "Line 1"
                            },
                            {
                                "name": "line2",
                                "type": "text",
                                "label": "Line 2"
                            },
                            {
                                "name": "city",
                                "type": "text",
                                "label": "City"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "postalCode",
                                "type": "text",
                                "label": "Postal Code"
                            }
                        ],
                        "type": "collection",
                        "label": "Shipping Address"
                    },
                    {
                        "name": "billingAddress",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "addressee",
                                "type": "text",
                                "label": "Addressee"
                            },
                            {
                                "name": "line1",
                                "type": "text",
                                "label": "Line 1"
                            },
                            {
                                "name": "line2",
                                "type": "text",
                                "label": "Line 2"
                            },
                            {
                                "name": "city",
                                "type": "text",
                                "label": "City"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "postalCode",
                                "type": "text",
                                "label": "Postal Code"
                            }
                        ],
                        "type": "collection",
                        "label": "Billing Address"
                    },
                    {
                        "name": "totals",
                        "spec": [
                            {
                                "name": "subtotal",
                                "spec": [
                                    {
                                        "name": "unit",
                                        "type": "text",
                                        "label": "Unit"
                                    },
                                    {
                                        "name": "value",
                                        "type": "number",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "string",
                                        "type": "text",
                                        "label": "String"
                                    }
                                ],
                                "type": "collection",
                                "label": "Subtotal"
                            },
                            {
                                "name": "extras",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "description",
                                            "type": "text",
                                            "label": "Description"
                                        },
                                        {
                                            "name": "price",
                                            "spec": [
                                                {
                                                    "name": "unit",
                                                    "type": "text",
                                                    "label": "Unit"
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Value"
                                                },
                                                {
                                                    "name": "string",
                                                    "type": "text",
                                                    "label": "String"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Price"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Extras"
                            },
                            {
                                "name": "total",
                                "spec": [
                                    {
                                        "name": "unit",
                                        "type": "text",
                                        "label": "Unit"
                                    },
                                    {
                                        "name": "value",
                                        "type": "number",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "string",
                                        "type": "text",
                                        "label": "String"
                                    }
                                ],
                                "type": "collection",
                                "label": "Total"
                            }
                        ],
                        "type": "collection",
                        "label": "Totals"
                    },
                    {
                        "name": "requiresShipping",
                        "type": "boolean",
                        "label": "Requires Shipping"
                    }
                ]
            }
        },
        {
            "id": 33,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 1
            },
            "mapper": {
                "orderId": "{{1.orderId}}",
                "acceptedOn": "{{1.acceptedOn}}",
                "customerInfo": "{{1.customerInfo}}",
                "purchasedItems": "{{1.purchasedItems}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Webflow - Watch Events [1]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 34,
            "module": "barcode:GenerateBarcode",
            "version": 1,
            "parameters": {},
            "mapper": {
                "bcid": "qrcode",
                "text": "{{33.array[].orderId}}",
                "scale": "5",
                "rotate": "N",
                "eclevel": "M",
                "fileName": "order-id-{{33.array[].orderId}}.png",
                "paddingwidth": "",
                "paddingheight": ""
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "bcid": {
                            "label": "QR Code"
                        },
                        "rotate": {
                            "label": "Normal (not rotated)"
                        },
                        "eclevel": {
                            "label": "Level M (15%)"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "bcid",
                        "type": "select",
                        "label": "Barcode type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "code39",
                                "code128",
                                "ean8",
                                "ean13",
                                "qrcode",
                                "upca",
                                "upce"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File name",
                        "required": true,
                        "extension": "png"
                    },
                    {
                        "name": "paddingwidth",
                        "type": "uinteger",
                        "label": "Padding width"
                    },
                    {
                        "name": "paddingheight",
                        "type": "uinteger",
                        "label": "Padding height"
                    },
                    {
                        "name": "scale",
                        "type": "uinteger",
                        "label": "Scale",
                        "validate": {
                            "max": 10,
                            "min": 1
                        }
                    },
                    {
                        "name": "rotate",
                        "type": "select",
                        "label": "Rotate",
                        "validate": {
                            "enum": [
                                "N",
                                "R",
                                "L",
                                "I"
                            ]
                        }
                    },
                    {
                        "name": "eclevel",
                        "type": "select",
                        "label": "Error correction",
                        "validate": {
                            "enum": [
                                "L",
                                "M",
                                "Q",
                                "H"
                            ]
                        }
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 143,
            "module": "http:ActionSendDataAPIKeyAuth",
            "version": 3,
            "parameters": {
                "auth": 1209,
                "handleErrors": false
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://api.cloudflare.com/client/v4/accounts/1e8df44135d59d4cff4b9a13d48f8e78/images/v1",
                "gzip": true,
                "method": "post",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "bodyType": "multipart_form_data",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "formDataFields": [
                    {
                        "key": "file",
                        "data": "{{34.data}}",
                        "fileName": "{{34.fileName}}",
                        "fieldType": "file"
                    }
                ],
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Multipart/form-data"
                        },
                        "formDataFields": {
                            "mode": "chose",
                            "items": [
                                {
                                    "fieldType": {
                                        "mode": "chose",
                                        "label": "File"
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "auth": {
                            "label": "BreakNeck CloudFlare Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "auth",
                        "type": "keychain:apikeyauth",
                        "label": "Credentials",
                        "required": true
                    },
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "formDataFields",
                        "spec": [
                            {
                                "name": "fieldType",
                                "type": "select",
                                "label": "Field type",
                                "options": [
                                    {
                                        "label": "Text",
                                        "value": "text",
                                        "nested": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "File",
                                        "value": "file",
                                        "nested": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "semantic": "file:data"
                                            },
                                            {
                                                "help": "File name, including the suffix, e.g. invoice, xml",
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "semantic": "file:name"
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Fields"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 45,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "Barcode URL",
                        "value": "{{143.data.result.variants[]}}"
                    },
                    {
                        "name": "Order ID",
                        "value": "{{33.array[].orderId}}"
                    },
                    {
                        "name": "Customer Name",
                        "value": "{{33.array[].customerInfo.fullName}}"
                    },
                    {
                        "name": "Customer Email",
                        "value": "{{33.array[].customerInfo.email}}"
                    },
                    {
                        "name": "Date",
                        "value": "{{33.array[].acceptedOn}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "Barcode URL",
                        "type": "any",
                        "label": "Barcode URL"
                    },
                    {
                        "name": "Order ID",
                        "type": "any",
                        "label": "Order ID"
                    },
                    {
                        "name": "Customer Name",
                        "type": "any",
                        "label": "Customer Name"
                    },
                    {
                        "name": "Customer Email",
                        "type": "any",
                        "label": "Customer Email"
                    },
                    {
                        "name": "Date",
                        "type": "any",
                        "label": "Date"
                    }
                ]
            }
        },
        {
            "id": 43,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{33.array[].purchasedItems}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 57,
            "module": "webflow:getAProduct",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 161440
            },
            "mapper": {
                "site_id": "63d842ee28d89a29c36eb8d7",
                "product_id": "{{43.productId}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "site_id": {
                            "mode": "chose",
                            "label": "Breakneck Comedy"
                        },
                        "product_id": {
                            "mode": "edit"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "webflow"
                            },
                            "label": "My Webflow connection (Make)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:webflow",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "site_id",
                        "type": "select",
                        "label": "Site",
                        "required": true
                    },
                    {
                        "name": "product_id",
                        "type": "select",
                        "label": "Product",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "updated-by",
                        "type": "text",
                        "label": "Updated By"
                    },
                    {
                        "name": "created-by",
                        "type": "text",
                        "label": "Created By"
                    },
                    {
                        "name": "published-by",
                        "type": "text",
                        "label": "Published By"
                    },
                    {
                        "name": "_cid",
                        "type": "text",
                        "label": "Collection ID"
                    },
                    {
                        "name": "_id",
                        "type": "text",
                        "label": "Product ID"
                    },
                    {
                        "name": "sku-properties",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "enum",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "slug",
                                        "type": "text",
                                        "label": "Slug"
                                    }
                                ],
                                "type": "array",
                                "label": "Options"
                            }
                        ],
                        "type": "array",
                        "label": "SKU Properties",
                        "required": false
                    },
                    {
                        "name": "category",
                        "type": "select",
                        "label": "Categories",
                        "options": "rpc://listCategories?collectionId=63ef74b5f1e5b8515e54abf8",
                        "multiple": true,
                        "required": false
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description",
                        "required": false
                    },
                    {
                        "name": "shippable",
                        "type": "boolean",
                        "label": "Requires Shipping",
                        "required": false
                    },
                    {
                        "help": "This value needs to match one of the values specified in TaxCategories",
                        "name": "tax-category",
                        "type": "text",
                        "label": "Tax Category",
                        "required": false
                    },
                    {
                        "help": "This field is an ID of Item reference.",
                        "name": "default-sku",
                        "type": "text",
                        "label": "Default SKU",
                        "required": false
                    },
                    {
                        "name": "ec-product-type",
                        "type": "select",
                        "label": "Product type",
                        "options": [
                            {
                                "label": "Physical",
                                "value": "ff42fee0113744f693a764e3431a9cc2"
                            },
                            {
                                "label": "Digital",
                                "value": "f22027db68002190aef89a4a2b7ac8a1"
                            },
                            {
                                "label": "Service",
                                "value": "c599e43b1a1c34d5a323aedf75d3adf6"
                            },
                            {
                                "label": "Membership",
                                "value": "e348fd487d0102946c9179d2a94bb613"
                            },
                            {
                                "label": "Advanced",
                                "value": "b6ccc1830db4b1babeb06a9ac5f6dd76"
                            }
                        ],
                        "required": false
                    },
                    {
                        "name": "is-an-event",
                        "type": "boolean",
                        "label": "Is an Event",
                        "required": false
                    },
                    {
                        "name": "extra-show-information-test",
                        "type": "text",
                        "label": "Extra Show/Event/Product Information",
                        "required": false,
                        "multiline": true
                    },
                    {
                        "help": "This field is an ID of Item reference.",
                        "name": "main-act",
                        "type": "text",
                        "label": "Main Act",
                        "required": false
                    },
                    {
                        "name": "supporting-act",
                        "type": "select",
                        "label": "Supporting Act",
                        "options": "rpc://listCategories?collectionId=63ef74b5f1e5b8893554abfb",
                        "multiple": true,
                        "required": false
                    },
                    {
                        "name": "no-specific-acts-named",
                        "type": "boolean",
                        "label": "No specific acts named",
                        "required": false
                    },
                    {
                        "name": "show-poster",
                        "spec": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "id",
                                "type": "text",
                                "label": "File ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Show Poster",
                        "required": false
                    },
                    {
                        "help": "This field is an ID of Item reference.",
                        "name": "venue-3",
                        "type": "text",
                        "label": "Venue",
                        "required": false
                    },
                    {
                        "help": "This field is an ID of Item reference.",
                        "name": "location-3",
                        "type": "text",
                        "label": "Location",
                        "required": false
                    },
                    {
                        "name": "doors-open",
                        "time": false,
                        "type": "date",
                        "label": "Doors Open",
                        "required": false
                    },
                    {
                        "name": "show-starts",
                        "time": false,
                        "type": "date",
                        "label": "Show Starts",
                        "required": false
                    },
                    {
                        "name": "show-ends",
                        "time": false,
                        "type": "date",
                        "label": "Show Ends",
                        "required": false
                    },
                    {
                        "name": "featured-show",
                        "type": "boolean",
                        "label": "Featured Show",
                        "required": false
                    },
                    {
                        "name": "limited-tickets",
                        "type": "boolean",
                        "label": "Limited Tickets",
                        "required": false
                    },
                    {
                        "name": "show-sponsors-2",
                        "type": "select",
                        "label": "Show Sponsors",
                        "options": "rpc://listCategories?collectionId=63f28df7cdf34e0491b40a2d",
                        "multiple": true,
                        "required": false
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true,
                        "validate": {
                            "max": 256
                        }
                    },
                    {
                        "help": "Must be alphanumerical and not contain any spaces or special characters",
                        "name": "slug",
                        "type": "text",
                        "label": "Slug",
                        "required": false,
                        "validate": {
                            "max": 256
                        }
                    },
                    {
                        "name": "_archived",
                        "type": "boolean",
                        "label": "Archived",
                        "default": false,
                        "required": true
                    },
                    {
                        "name": "_draft",
                        "type": "boolean",
                        "label": "Draft",
                        "default": false,
                        "required": true
                    },
                    {
                        "name": "created-on",
                        "time": false,
                        "type": "date",
                        "label": "Created On",
                        "required": false
                    },
                    {
                        "name": "updated-on",
                        "time": false,
                        "type": "date",
                        "label": "Updated On",
                        "required": false
                    },
                    {
                        "name": "published-on",
                        "time": false,
                        "type": "date",
                        "label": "Published On",
                        "required": false
                    },
                    {
                        "name": "skus",
                        "spec": [
                            {
                                "name": "sku-values",
                                "spec": [],
                                "type": "collection",
                                "label": "SKU Values",
                                "required": true
                            },
                            {
                                "help": "This field is an ID of Item reference.",
                                "name": "product",
                                "type": "text",
                                "label": "Product",
                                "required": true
                            },
                            {
                                "name": "main-image",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "File ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    }
                                ],
                                "type": "collection",
                                "label": "Main Image",
                                "required": false
                            },
                            {
                                "name": "more-images",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "File ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    }
                                ],
                                "type": "array",
                                "label": "More Images",
                                "required": false
                            },
                            {
                                "name": "price",
                                "spec": [
                                    {
                                        "help": "Click [here](https://www.sport-histoire.fr/en/Geography/Currencies_countries_of_the_world.php) to enter currency ISO code.",
                                        "name": "unit",
                                        "type": "text",
                                        "label": "Currency Unit",
                                        "required": true,
                                        "validate": {
                                            "max": 3
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "number",
                                        "label": "Price Value",
                                        "required": true
                                    }
                                ],
                                "type": "collection",
                                "label": "Price",
                                "required": true
                            },
                            {
                                "name": "compare-at-price",
                                "spec": [
                                    {
                                        "help": "Click [here](https://www.sport-histoire.fr/en/Geography/Currencies_countries_of_the_world.php) to enter currency ISO code.",
                                        "name": "unit",
                                        "type": "text",
                                        "label": "Currency Unit",
                                        "required": false,
                                        "validate": {
                                            "max": 3
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "number",
                                        "label": "Price Value",
                                        "required": false
                                    }
                                ],
                                "type": "collection",
                                "label": "Compare-at price",
                                "required": false
                            },
                            {
                                "name": "download-files",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "File ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    }
                                ],
                                "type": "array",
                                "label": "Downloads",
                                "required": false
                            },
                            {
                                "name": "width",
                                "type": "number",
                                "label": "Width",
                                "required": false
                            },
                            {
                                "name": "length",
                                "type": "number",
                                "label": "Length",
                                "required": false
                            },
                            {
                                "name": "height",
                                "type": "number",
                                "label": "Height",
                                "required": false
                            },
                            {
                                "name": "weight",
                                "type": "number",
                                "label": "Weight",
                                "required": false
                            },
                            {
                                "name": "sku",
                                "type": "text",
                                "label": "SKU",
                                "required": false
                            },
                            {
                                "help": "This value needs to match one of the values specified in BillingMethods",
                                "name": "ec-sku-billing-method",
                                "type": "text",
                                "label": "Billing method",
                                "required": false
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "help": "Must be alphanumerical and not contain any spaces or special characters",
                                "name": "slug",
                                "type": "text",
                                "label": "Slug",
                                "required": false,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "_archived",
                                "type": "boolean",
                                "label": "Archived",
                                "default": false,
                                "required": true
                            },
                            {
                                "name": "_draft",
                                "type": "boolean",
                                "label": "Draft",
                                "default": false,
                                "required": true
                            },
                            {
                                "name": "created-on",
                                "time": false,
                                "type": "date",
                                "label": "Created On",
                                "required": false
                            },
                            {
                                "name": "updated-on",
                                "time": false,
                                "type": "date",
                                "label": "Updated On",
                                "required": false
                            },
                            {
                                "name": "published-on",
                                "time": false,
                                "type": "date",
                                "label": "Published On",
                                "required": false
                            },
                            {
                                "name": "updated-by",
                                "type": "text",
                                "label": "Updated By"
                            },
                            {
                                "name": "created-by",
                                "type": "text",
                                "label": "Created By"
                            },
                            {
                                "name": "published-by",
                                "type": "text",
                                "label": "Published By"
                            },
                            {
                                "name": "_cid",
                                "type": "text",
                                "label": "Collection ID"
                            },
                            {
                                "name": "_id",
                                "type": "text",
                                "label": "SKU ID"
                            }
                        ],
                        "type": "array",
                        "label": "SKUs"
                    }
                ]
            }
        },
        {
            "id": 98,
            "module": "webflow:getItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 161440
            },
            "filter": {
                "name": "If venue and location is set",
                "conditions": [
                    [
                        {
                            "a": "{{57.`venue-3`}}",
                            "o": "exist"
                        },
                        {
                            "a": "{{57.`location-3`}}",
                            "o": "exist"
                        },
                        {
                            "a": "{{57.`is-an-event`}}",
                            "b": "true",
                            "o": "boolean:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "select": "manual",
                "item_id": "{{57.`venue-3`}}",
                "collection_id": "63ef74b5f1e5b8057d54abfd"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Manual"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "webflow"
                            },
                            "label": "My Webflow connection (Make)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:webflow",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter Item ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "Automatic",
                                "manual"
                            ]
                        }
                    },
                    {
                        "name": "collection_id",
                        "type": "text",
                        "label": "Collection ID",
                        "required": true
                    },
                    {
                        "name": "item_id",
                        "type": "text",
                        "label": "Item ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "updated-by",
                        "type": "text",
                        "label": "Updated By"
                    },
                    {
                        "name": "created-by",
                        "type": "text",
                        "label": "Created By"
                    },
                    {
                        "name": "published-by",
                        "type": "text",
                        "label": "Published By"
                    },
                    {
                        "name": "_cid",
                        "type": "text",
                        "label": "Collection ID"
                    },
                    {
                        "name": "_id",
                        "type": "text",
                        "label": "Item ID"
                    },
                    {
                        "name": "address",
                        "type": "text",
                        "label": "Address",
                        "required": false
                    },
                    {
                        "name": "google-map-link",
                        "type": "url",
                        "label": "Google Map Link",
                        "required": false
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true,
                        "validate": {
                            "max": 256
                        }
                    },
                    {
                        "help": "Must be alphanumerical and not contain any spaces or special characters",
                        "name": "slug",
                        "type": "text",
                        "label": "Slug",
                        "required": false,
                        "validate": {
                            "max": 256
                        }
                    },
                    {
                        "name": "_archived",
                        "type": "boolean",
                        "label": "Archived",
                        "default": false,
                        "required": true
                    },
                    {
                        "help": "Please note that if you want to set your item as \"Draft\", then you also need to select **No** in \"Live\" below.\nAlso note that setting the item as \"Draft\" will unpublish your item from live site (this is a native behavior of Webflow API).",
                        "name": "_draft",
                        "type": "boolean",
                        "label": "Draft",
                        "default": false,
                        "required": true
                    },
                    {
                        "name": "created-on",
                        "time": false,
                        "type": "date",
                        "label": "Created On",
                        "required": false
                    },
                    {
                        "name": "updated-on",
                        "time": false,
                        "type": "date",
                        "label": "Updated On",
                        "required": false
                    },
                    {
                        "name": "published-on",
                        "time": false,
                        "type": "date",
                        "label": "Published On",
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 99,
            "module": "webflow:getItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 161440
            },
            "mapper": {
                "select": "manual",
                "item_id": "{{57.`location-3`}}",
                "collection_id": "63ef74b5f1e5b8ebbd54abfc"
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Manual"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "webflow"
                            },
                            "label": "My Webflow connection (Make)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:webflow",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter Item ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "Automatic",
                                "manual"
                            ]
                        }
                    },
                    {
                        "name": "collection_id",
                        "type": "text",
                        "label": "Collection ID",
                        "required": true
                    },
                    {
                        "name": "item_id",
                        "type": "text",
                        "label": "Item ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "updated-by",
                        "type": "text",
                        "label": "Updated By"
                    },
                    {
                        "name": "created-by",
                        "type": "text",
                        "label": "Created By"
                    },
                    {
                        "name": "published-by",
                        "type": "text",
                        "label": "Published By"
                    },
                    {
                        "name": "_cid",
                        "type": "text",
                        "label": "Collection ID"
                    },
                    {
                        "name": "_id",
                        "type": "text",
                        "label": "Item ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true,
                        "validate": {
                            "max": 256
                        }
                    },
                    {
                        "help": "Must be alphanumerical and not contain any spaces or special characters",
                        "name": "slug",
                        "type": "text",
                        "label": "Slug",
                        "required": false,
                        "validate": {
                            "max": 256
                        }
                    },
                    {
                        "name": "_archived",
                        "type": "boolean",
                        "label": "Archived",
                        "default": false,
                        "required": true
                    },
                    {
                        "help": "Please note that if you want to set your item as \"Draft\", then you also need to select **No** in \"Live\" below.\nAlso note that setting the item as \"Draft\" will unpublish your item from live site (this is a native behavior of Webflow API).",
                        "name": "_draft",
                        "type": "boolean",
                        "label": "Draft",
                        "default": false,
                        "required": true
                    },
                    {
                        "name": "created-on",
                        "time": false,
                        "type": "date",
                        "label": "Created On",
                        "required": false
                    },
                    {
                        "name": "updated-on",
                        "time": false,
                        "type": "date",
                        "label": "Updated On",
                        "required": false
                    },
                    {
                        "name": "published-on",
                        "time": false,
                        "type": "date",
                        "label": "Published On",
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 146,
            "module": "util:Switcher",
            "version": 1,
            "parameters": {},
            "mapper": {
                "input": "{{contains(43.variantName; \"Ticket Type\")}}",
                "casesTable": [
                    {
                        "output": "{{last(split(43.variantName; \":\"))}}",
                        "pattern": "true"
                    }
                ],
                "elseOutput": "NA",
                "useRegExpMatch": false
            },
            "metadata": {
                "designer": {
                    "x": 2700,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "casesTable": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Input"
                    },
                    {
                        "name": "useRegExpMatch",
                        "type": "boolean",
                        "label": "Use regular expressions to match",
                        "required": true
                    },
                    {
                        "name": "casesTable",
                        "spec": [
                            {
                                "name": "pattern",
                                "type": "text",
                                "label": "Pattern"
                            },
                            {
                                "name": "output",
                                "type": "any",
                                "label": "Output"
                            }
                        ],
                        "type": "array",
                        "label": "Cases",
                        "required": true
                    },
                    {
                        "name": "elseOutput",
                        "type": "any",
                        "label": "Else"
                    }
                ]
            }
        },
        {
            "id": 100,
            "module": "datastore:AddRecord",
            "version": 1,
            "parameters": {
                "datastore": 1628
            },
            "mapper": {
                "key": "",
                "data": {
                    "Date": "{{formatDate(57.`doors-open`; \"dddd D MMMM YYYY\")}}",
                    "Venue": "{{98.name}}",
                    "Address": "{{98.address}}",
                    "Barcode": "{{45.`Barcode URL`}}",
                    "Doors Open": "{{formatDate(57.`doors-open`; \"hh:mm a\")}}",
                    "Order Date": "",
                    "Show Title": "{{57.name}}",
                    "Ticket Type": "{{146.output}}",
                    "Order Number": "{{45.`Order ID`}}",
                    "Customer Name": "{{45.`Customer Name`}}"
                },
                "overwrite": false
            },
            "metadata": {
                "designer": {
                    "x": 3000,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "overwrite": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "datastore": {
                            "label": "Ticket Data Store"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing record",
                        "required": true
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "Customer Name",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "Show Title",
                                "type": "text"
                            },
                            {
                                "name": "Date",
                                "type": "text"
                            },
                            {
                                "name": "Venue",
                                "type": "text"
                            },
                            {
                                "name": "Address",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "Doors Open",
                                "type": "text",
                                "label": "Doors"
                            },
                            {
                                "name": "Ticket Type",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "Order Number",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "Order Date",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "Barcode",
                                "type": "text",
                                "label": null
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ]
            }
        },
        {
            "id": 104,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 43
            },
            "mapper": {
                "venue-3": "{{57.`venue-3`}}",
                "Order ID": "{{45.`Order ID`}}",
                "location-3": "{{57.`location-3`}}"
            },
            "metadata": {
                "designer": {
                    "x": 3300,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [43]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 105,
            "module": "datastore:SearchRecord",
            "version": 1,
            "parameters": {
                "limit": null,
                "datastore": 1628,
                "continueWhenNoRes": false
            },
            "filter": {
                "name": "If has data",
                "conditions": [
                    [
                        {
                            "a": "{{104.array[].`venue-3`}}",
                            "o": "exist"
                        },
                        {
                            "a": "{{104.array[].`location-3`}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "sort": [],
                "filter": [
                    [
                        {
                            "a": "Order Number",
                            "b": "{{104.array[].`Order ID`}}",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 3600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "Ticket Data Store"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module returns no results"
                    }
                ],
                "expect": [
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://datastore/1.9.17/RpcGetUDTKeys",
                        "required": true
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "key",
                                "type": "select",
                                "label": "Key",
                                "dynamic": true,
                                "options": [],
                                "required": true
                            },
                            {
                                "name": "order",
                                "type": "select",
                                "label": "Order",
                                "options": [
                                    {
                                        "label": "Ascending",
                                        "value": 1
                                    },
                                    {
                                        "label": "Descending",
                                        "value": -1
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    }
                ],
                "interface": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "Customer Name",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "Show Title",
                                "type": "text",
                                "label": "Show Title",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "Date",
                                "type": "text",
                                "label": "Date",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "Venue",
                                "type": "text",
                                "label": "Venue",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "Doors Open",
                                "type": "text",
                                "label": "Doors",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "Quantity",
                                "type": "number",
                                "label": "Quantity",
                                "default": null,
                                "required": false
                            },
                            {
                                "name": "Price",
                                "type": "text",
                                "label": "Price",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "Order Number",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "Order Date",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "Subtotal",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "Total",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "Barcode",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ]
            }
        },
        {
            "id": 108,
            "module": "util:ComposeTransformer",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "Check if has data",
                "conditions": [
                    [
                        {
                            "a": "{{105.data}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "value": "<div class=\"ticket\" style=\"width: 100%; max-width: 580px; background-color: #fff; border: 0.5px solid #000; padding: 20px; display: block;margin-top: 20px; margin-bottom: 20px;\">    <div class=\"frame-7\" style=\"width: 70%; padding-top: 10px; padding-bottom: 10px; display: inline-block;\">\n        <div class=\"frame-6\" style=\"width: 100%; display: block;\">\n            <div class=\"text\" style=\"color: #000; font-family: Montserrat, sans-serif; font-size: 32px; font-weight: 600; display: inline-block; margin-bottom: 20px;\">\n                {{105.data.`Show Title`}}\n            </div>\n        </div>\n        <div class=\"show-details\" style=\"width: 100%; display: block;\">\n            <div class=\"column\" style=\"width: 100%; display: block;\">\n                <div class=\"body-large\" style=\"color: #000; font-family: Montserrat, sans-serif; font-size: 18px; font-weight: 400; margin-bottom: 10px;\">\n                    {{105.data.Date}}\n                </div>\n                <div class=\"body-large\" style=\"color: #000; font-family: Montserrat, sans-serif; font-size: 18px; font-weight: 400; margin-bottom: 10px;\">\n                    Doors Open: {{105.data.`Doors Open`}}\n                </div>\n                <div class=\"body-large\" style=\"color: #000; font-family: Montserrat, sans-serif; font-size: 18px; font-weight: 400; margin-bottom: 10px;\">\n                    {{105.data.Venue}}\n                </div>\n                <div class=\"body\" style=\"color: #000; font-family: Montserrat, sans-serif; font-size: 12px; font-weight: 400; margin-bottom: 30px;\">\n                    {{105.data.Address}}\n                </div>\n            </div>\n        </div>\n        <div class=\"frame-9\" style=\"padding-top: 10px; padding-bottom: 10px; display: block;\">\n<div class=\"frame-5\" style=\"display: inline-block;margin-right:10px;\">                        <div class=\"body-bold\"                            style=\"color: #000; text-align: center; font-family: Montserrat, sans-serif; font-size: 12px; font-weight: 600; display: inline-block;\">                            Ticket Type:</div>                        <div class=\"body-2\"                            style=\"color: #000; text-align: center; font-family: Montserrat, sans-serif; font-size: 12px; font-weight: 400; display: inline-block;\">                            {{105.data.`Ticket Type`}}</div>                    </div>\n            <div class=\"frame-5\" style=\"display: inline-block;\">                <div class=\"body-bold\" style=\"color: #000; text-align: center; font-family: Montserrat, sans-serif; font-size: 12px; font-weight: 600; display: inline-block;\">\n                    Order Id:\n                </div>\n                <div class=\"body-2\" style=\"color: #000; text-align: center; font-family: Montserrat, sans-serif; font-size: 12px; font-weight: 400; display: inline-block;\">\n                    {{105.data.`Order Number`}}\n                </div>\n            </div>\n        </div>\n    </div>\n    <div class=\"frame-8\" style=\"padding-top: 10px; padding-bottom: 10px; display: inline-block;\">\n        <img src=\"{{105.data.Barcode}}\" loading=\"lazy\" width=\"150\" height=\"150\" alt=\"\" class=\"vectors-wrapper-2\" style=\"width: 150px; height: 150px; object-fit: cover; display: block; margin-bottom: 20px;\" />\n        <img\n            src=\"https://imagedelivery.net/WEgaQB4aD3K8Nexx-4Tddg/e429a190-d0f6-4765-6b35-8799597a2200/public\"\n            loading=\"lazy\"\n            width=\"100\"\n            height=\"34.387351989746094\"\n            alt=\"\"\n            class=\"vectors-wrapper-3\"\n            style=\"width: 100px; height: 34.3874px; object-fit: cover; display: block; margin-left: auto;\"\n        />\n    </div>\n</div>"
            },
            "metadata": {
                "designer": {
                    "x": 3900,
                    "y": 0
                },
                "restore": {},
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 113,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 105,
                "rowSeparator": ""
            },
            "mapper": {
                "value": "<div>\n{{108.value}}\n</div>"
            },
            "metadata": {
                "designer": {
                    "x": 4200,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Data store - Search records [105]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 110,
            "module": "microsoft-email:createAndSendAMessage",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 161985
            },
            "mapper": {
                "content": "<!DOCTYPE html>\n<html lang=\"en\">\n    <head>\n        <meta charset=\"UTF-8\" />\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n        <style>\n@media screen and (max-width: 767px) {\n    .header,\n    .row_content {\n        display: none !important;\n    }\n\n    .final---ticket-email {\n        max-width: 100% !important;\n        padding: 0 !important;\n    }\n\n    .frame-7 {\n        width: 100% !important;\n        text-align: center !important;\n    }\n\n    .vectors-wrapper-2 {\n        margin: auto !important;\n        margin-bottom: 20px !important;\n    }\n\n    .frame-8 {\n        display: block !important;\n    }\n\n    .vectors-wrapper-3 {\n        display: block !important;\n        margin: auto !important;\n    }\n    .ticket {\n    margin-left: auto !important;\n    margin-right: auto !important;\n    margin-top: 20px !important;\n    margin-bottom: 20px !important;\n    max-width: 300px !important;\n}\n .frame-5{\n   display: block !important;\n   margin-right:0px !important;\n}\n\n}\n         \n</style>\n        <title>Ticket</title>\n    </head>\n\n    <body>\n        <div class=\"final---ticket-email\" style=\"width: 100%; max-width: 600px; background-color: #fff; padding: 10px; display: block;margin: auto;\"><div class=\"header\" style=\"width: 100%; padding-top: 20px; padding-bottom: 20px; display: block;\">\n                <img\n                    src=\"https://imagedelivery.net/WEgaQB4aD3K8Nexx-4Tddg/e429a190-d0f6-4765-6b35-8799597a2200/public\"\n                    loading=\"lazy\"\n                    width=\"253\"\n                    height=\"87\"\n                    alt=\"\"\n                    class=\"vectors-wrapper\"\n                    style=\"height: 87px; object-fit: cover; margin: auto; display: block;\"\n                />\n            </div>\n            <div class=\"row_content\" style=\"width: 100%; padding-top: 20px; padding-bottom: 20px; display: block;\">\n                <div class=\"hi-customer-name-this-email-contains-your-ticket\" style=\"color: #000; text-align: center; font-size: 12px; font-weight: 400;\">\n                    <div class=\"hi-customer-name-this-email-contains-your-ticket hi-customer-name-this-email-contains-your-ticket\" style=\"color: #000; text-align: center; font-size: 12px; font-weight: 400;\">\n                        <span class=\"body-2\" style=\"color: #000; text-align: center; font-family: Montserrat, sans-serif; font-size: 12px; font-weight: 400; display: inline-block;\">Hi, </span>\n                        <span class=\"body-bold\" style=\"color: #000; text-align: center; font-family: Montserrat, sans-serif; font-size: 12px; font-weight: 600; display: inline-block;\">{{45.`Customer Name`}} </span>\n                        <br />\n                        <span class=\"body-2\" style=\"color: #000; text-align: center; font-family: Montserrat, sans-serif; font-size: 12px; font-weight: 400; display: inline-block;\">This email contains your ticket.</span>\n                    </div>\n                </div>\n            </div>\n            {{113.text}}\n            <div class=\"row_content-2\" style=\"width: 100%; padding-top: 40px; padding-bottom: 40px; display: block;text-align: center;\">                <div class=\"body-2\" style=\"color: #000; text-align: center; font-family: Montserrat, sans-serif; font-size: 12px; font-weight: 400; display: inline-block;\">\n                    Any questions about your order please email; breakneckcomedy@live.co.uk\n                </div>\n            </div>\n        </div>\n    </body>\n</html>",
                "subject": "Hi, {{45.`Customer Name`}}This email contains your ticket.",
                "contentType": "html",
                "toRecipients": [
                    {
                        "name": "{{45.`Customer Name`}}",
                        "address": "{{45.`Customer Email`}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 4500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "mode": "chose"
                        },
                        "replyTo": {
                            "mode": "chose"
                        },
                        "importance": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "mode": "chose",
                            "label": "HTML"
                        },
                        "ccRecipients": {
                            "mode": "chose"
                        },
                        "toRecipients": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bccRecipients": {
                            "mode": "chose"
                        },
                        "internetMessageHeaders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "azure"
                            },
                            "label": "My Microsoft connection (Naz Hussain)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Body Content",
                        "required": true
                    },
                    {
                        "name": "importance",
                        "type": "select",
                        "label": "Importance",
                        "validate": {
                            "enum": [
                                "Low",
                                "Normal",
                                "High"
                            ]
                        }
                    },
                    {
                        "name": "toRecipients",
                        "spec": [
                            {
                                "name": "address",
                                "type": "email",
                                "label": "Email Address",
                                "required": true
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "To Recipients",
                        "required": true
                    },
                    {
                        "name": "from",
                        "spec": [
                            {
                                "name": "address",
                                "type": "email",
                                "label": "Email Address",
                                "required": true
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "From",
                        "validate": {
                            "maxItems": 1
                        }
                    },
                    {
                        "name": "ccRecipients",
                        "spec": [
                            {
                                "name": "address",
                                "type": "email",
                                "label": "Email Address",
                                "required": true
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "CC Recipients"
                    },
                    {
                        "name": "bccRecipients",
                        "spec": [
                            {
                                "name": "address",
                                "type": "email",
                                "label": "Email Address",
                                "required": true
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "Bcc Recipients"
                    },
                    {
                        "name": "replyTo",
                        "spec": [
                            {
                                "name": "address",
                                "type": "email",
                                "label": "Email Address",
                                "required": true
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "Reply To"
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File Name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "internetMessageHeaders",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Internet Message Headers"
                    }
                ]
            }
        },
        {
            "id": 116,
            "module": "datastore:DeleteAllRecords",
            "version": 1,
            "parameters": {
                "datastore": 1628
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 4800,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "Ticket Data Store"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 117,
            "module": "webflow:markOrderFulfilledUnfulfilledRefund",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 161440
            },
            "mapper": {
                "select": "fulfill",
                "site_id": "63d842ee28d89a29c36eb8d7",
                "order_id": "{{45.`Order ID`}}",
                "sendOrderFulfilledEmail": false
            },
            "metadata": {
                "designer": {
                    "x": 5100,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "mode": "chose",
                            "label": "Fulfilled"
                        },
                        "site_id": {
                            "mode": "chose",
                            "label": "Breakneck Comedy"
                        },
                        "order_id": {
                            "mode": "edit"
                        },
                        "sendOrderFulfilledEmail": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "webflow"
                            },
                            "label": "My Webflow connection (Make)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:webflow",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "site_id",
                        "type": "select",
                        "label": "Site ID",
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Mark Order as",
                        "required": true,
                        "validate": {
                            "enum": [
                                "fulfill",
                                "unfulfill",
                                "refund"
                            ]
                        }
                    },
                    {
                        "name": "order_id",
                        "type": "select",
                        "label": "Order ID",
                        "required": true
                    },
                    {
                        "name": "sendOrderFulfilledEmail",
                        "type": "boolean",
                        "label": "Send Order Fulfilled Email"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 161479
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{45.`Customer Name`}}",
                    "1": "{{45.`Customer Email`}}",
                    "2": "{{45.`Order ID`}}",
                    "3": "Yes",
                    "4": "{{formatDate(now; \"DD-MM-YYYY HH:mm A\")}}"
                },
                "sheetId": "Shows",
                "spreadsheetId": "/1MNwRoaRvTFY4xxHgIeI7G8zO0C5aHqOeHCIz0Goms3k",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 5400,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Select by path"
                        },
                        "sheetId": {
                            "label": "Shows"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Breakneck Comedy Order Confirmation"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Name (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Email (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Orider id (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "(D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "(E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "(F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "(G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "(H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "(I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "(J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "(K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (james.watson@fiftyfifty.design)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Choose a Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Name (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Email (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Orider id (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "(D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "(E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "(F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "(G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "(H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}