Sales Report Automation.json
{
    "name": "Sales Report Automation (Tickets)",
    "flow": [
        {
            "id": 8,
            "module": "webflow:listProducts",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 161440
            },
            "mapper": {
                "site_id": "63d842ee28d89a29c36eb8d7"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "limit": {
                            "empty": true
                        },
                        "site_id": {
                            "mode": "chose",
                            "label": "Breakneck Comedy"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "webflow"
                            },
                            "label": "My Webflow connection (Make)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:webflow",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "site_id",
                        "type": "select",
                        "label": "Site",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "updated-by",
                        "type": "text",
                        "label": "Updated By"
                    },
                    {
                        "name": "created-by",
                        "type": "text",
                        "label": "Created By"
                    },
                    {
                        "name": "published-by",
                        "type": "text",
                        "label": "Published By"
                    },
                    {
                        "name": "_cid",
                        "type": "text",
                        "label": "Collection ID"
                    },
                    {
                        "name": "_id",
                        "type": "text",
                        "label": "Product ID"
                    },
                    {
                        "name": "sku-properties",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "enum",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "slug",
                                        "type": "text",
                                        "label": "Slug"
                                    }
                                ],
                                "type": "array",
                                "label": "Options"
                            }
                        ],
                        "type": "array",
                        "label": "SKU Properties",
                        "required": false
                    },
                    {
                        "name": "category",
                        "type": "select",
                        "label": "Categories",
                        "options": "rpc://listCategories?collectionId=63ef74b5f1e5b8515e54abf8",
                        "multiple": true,
                        "required": false
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description",
                        "required": false
                    },
                    {
                        "name": "shippable",
                        "type": "boolean",
                        "label": "Requires Shipping",
                        "required": false
                    },
                    {
                        "help": "This value needs to match one of the values specified in TaxCategories",
                        "name": "tax-category",
                        "type": "text",
                        "label": "Tax Category",
                        "required": false
                    },
                    {
                        "help": "This field is an ID of Item reference.",
                        "name": "default-sku",
                        "type": "text",
                        "label": "Default SKU",
                        "required": false
                    },
                    {
                        "name": "ec-product-type",
                        "type": "select",
                        "label": "Product type",
                        "options": [
                            {
                                "label": "Physical",
                                "value": "ff42fee0113744f693a764e3431a9cc2"
                            },
                            {
                                "label": "Digital",
                                "value": "f22027db68002190aef89a4a2b7ac8a1"
                            },
                            {
                                "label": "Service",
                                "value": "c599e43b1a1c34d5a323aedf75d3adf6"
                            },
                            {
                                "label": "Membership",
                                "value": "e348fd487d0102946c9179d2a94bb613"
                            },
                            {
                                "label": "Advanced",
                                "value": "b6ccc1830db4b1babeb06a9ac5f6dd76"
                            }
                        ],
                        "required": false
                    },
                    {
                        "name": "is-an-event",
                        "type": "boolean",
                        "label": "Is an Event",
                        "required": false
                    },
                    {
                        "name": "extra-show-information-test",
                        "type": "text",
                        "label": "Extra Show/Event/Product Information",
                        "required": false,
                        "multiline": true
                    },
                    {
                        "help": "This field is an ID of Item reference.",
                        "name": "main-act",
                        "type": "text",
                        "label": "Main Act",
                        "required": false
                    },
                    {
                        "name": "supporting-act",
                        "type": "select",
                        "label": "Supporting Act",
                        "options": "rpc://listCategories?collectionId=63ef74b5f1e5b8893554abfb",
                        "multiple": true,
                        "required": false
                    },
                    {
                        "name": "no-specific-acts-named",
                        "type": "boolean",
                        "label": "No specific acts named",
                        "required": false
                    },
                    {
                        "name": "show-poster",
                        "spec": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "id",
                                "type": "text",
                                "label": "File ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Show Poster",
                        "required": false
                    },
                    {
                        "help": "This field is an ID of Item reference.",
                        "name": "venue-3",
                        "type": "text",
                        "label": "Venue",
                        "required": false
                    },
                    {
                        "help": "This field is an ID of Item reference.",
                        "name": "location-3",
                        "type": "text",
                        "label": "Location",
                        "required": false
                    },
                    {
                        "name": "doors-open",
                        "time": false,
                        "type": "date",
                        "label": "Doors Open",
                        "required": false
                    },
                    {
                        "name": "show-starts",
                        "time": false,
                        "type": "date",
                        "label": "Show Starts",
                        "required": false
                    },
                    {
                        "name": "show-ends",
                        "time": false,
                        "type": "date",
                        "label": "Show Ends",
                        "required": false
                    },
                    {
                        "name": "featured-show",
                        "type": "boolean",
                        "label": "Featured Show",
                        "required": false
                    },
                    {
                        "name": "limited-tickets",
                        "type": "boolean",
                        "label": "Limited Tickets",
                        "required": false
                    },
                    {
                        "name": "show-sponsors-2",
                        "type": "select",
                        "label": "Show Sponsors",
                        "options": "rpc://listCategories?collectionId=63f28df7cdf34e0491b40a2d",
                        "multiple": true,
                        "required": false
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true,
                        "validate": {
                            "max": 256
                        }
                    },
                    {
                        "help": "Must be alphanumerical and not contain any spaces or special characters",
                        "name": "slug",
                        "type": "text",
                        "label": "Slug",
                        "required": false,
                        "validate": {
                            "max": 256
                        }
                    },
                    {
                        "name": "_archived",
                        "type": "boolean",
                        "label": "Archived",
                        "default": false,
                        "required": true
                    },
                    {
                        "name": "_draft",
                        "type": "boolean",
                        "label": "Draft",
                        "default": false,
                        "required": true
                    },
                    {
                        "name": "created-on",
                        "time": false,
                        "type": "date",
                        "label": "Created On",
                        "required": false
                    },
                    {
                        "name": "updated-on",
                        "time": false,
                        "type": "date",
                        "label": "Updated On",
                        "required": false
                    },
                    {
                        "name": "published-on",
                        "time": false,
                        "type": "date",
                        "label": "Published On",
                        "required": false
                    },
                    {
                        "name": "skus",
                        "spec": [
                            {
                                "name": "sku-values",
                                "spec": [],
                                "type": "collection",
                                "label": "SKU Values",
                                "required": true
                            },
                            {
                                "help": "This field is an ID of Item reference.",
                                "name": "product",
                                "type": "text",
                                "label": "Product",
                                "required": true
                            },
                            {
                                "name": "main-image",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "File ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    }
                                ],
                                "type": "collection",
                                "label": "Main Image",
                                "required": false
                            },
                            {
                                "name": "more-images",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "File ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    }
                                ],
                                "type": "array",
                                "label": "More Images",
                                "required": false
                            },
                            {
                                "name": "price",
                                "spec": [
                                    {
                                        "help": "Click [here](https://www.sport-histoire.fr/en/Geography/Currencies_countries_of_the_world.php) to enter currency ISO code.",
                                        "name": "unit",
                                        "type": "text",
                                        "label": "Currency Unit",
                                        "required": true,
                                        "validate": {
                                            "max": 3
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "number",
                                        "label": "Price Value",
                                        "required": true
                                    }
                                ],
                                "type": "collection",
                                "label": "Price",
                                "required": true
                            },
                            {
                                "name": "compare-at-price",
                                "spec": [
                                    {
                                        "help": "Click [here](https://www.sport-histoire.fr/en/Geography/Currencies_countries_of_the_world.php) to enter currency ISO code.",
                                        "name": "unit",
                                        "type": "text",
                                        "label": "Currency Unit",
                                        "required": false,
                                        "validate": {
                                            "max": 3
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "number",
                                        "label": "Price Value",
                                        "required": false
                                    }
                                ],
                                "type": "collection",
                                "label": "Compare-at price",
                                "required": false
                            },
                            {
                                "name": "download-files",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "File ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    }
                                ],
                                "type": "array",
                                "label": "Downloads",
                                "required": false
                            },
                            {
                                "name": "width",
                                "type": "number",
                                "label": "Width",
                                "required": false
                            },
                            {
                                "name": "length",
                                "type": "number",
                                "label": "Length",
                                "required": false
                            },
                            {
                                "name": "height",
                                "type": "number",
                                "label": "Height",
                                "required": false
                            },
                            {
                                "name": "weight",
                                "type": "number",
                                "label": "Weight",
                                "required": false
                            },
                            {
                                "name": "sku",
                                "type": "text",
                                "label": "SKU",
                                "required": false
                            },
                            {
                                "help": "This value needs to match one of the values specified in BillingMethods",
                                "name": "ec-sku-billing-method",
                                "type": "text",
                                "label": "Billing method",
                                "required": false
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "help": "Must be alphanumerical and not contain any spaces or special characters",
                                "name": "slug",
                                "type": "text",
                                "label": "Slug",
                                "required": false,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "_archived",
                                "type": "boolean",
                                "label": "Archived",
                                "default": false,
                                "required": true
                            },
                            {
                                "name": "_draft",
                                "type": "boolean",
                                "label": "Draft",
                                "default": false,
                                "required": true
                            },
                            {
                                "name": "created-on",
                                "time": false,
                                "type": "date",
                                "label": "Created On",
                                "required": false
                            },
                            {
                                "name": "updated-on",
                                "time": false,
                                "type": "date",
                                "label": "Updated On",
                                "required": false
                            },
                            {
                                "name": "published-on",
                                "time": false,
                                "type": "date",
                                "label": "Published On",
                                "required": false
                            },
                            {
                                "name": "updated-by",
                                "type": "text",
                                "label": "Updated By"
                            },
                            {
                                "name": "created-by",
                                "type": "text",
                                "label": "Created By"
                            },
                            {
                                "name": "published-by",
                                "type": "text",
                                "label": "Published By"
                            },
                            {
                                "name": "_cid",
                                "type": "text",
                                "label": "Collection ID"
                            },
                            {
                                "name": "_id",
                                "type": "text",
                                "label": "SKU ID"
                            }
                        ],
                        "type": "array",
                        "label": "SKUs"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "If have SKU property",
                "conditions": [
                    [
                        {
                            "a": "{{8.skus}}",
                            "b": "1",
                            "o": "array:greater"
                        },
                        {
                            "a": "{{8.`is-an-event`}}",
                            "b": "true",
                            "o": "boolean:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "array": "{{8.skus}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "webflow:getItemInventory",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 161440
            },
            "mapper": {
                "select": "manual",
                "item_id": "{{6.`_id`}}",
                "collection_id": "63ef74b5f1e5b8f06354abf9"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Manual"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "webflow"
                            },
                            "label": "My Webflow connection (Make)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:webflow",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter Item Inventory",
                        "required": true,
                        "validate": {
                            "enum": [
                                "automatic",
                                "manual"
                            ]
                        }
                    },
                    {
                        "name": "collection_id",
                        "type": "text",
                        "label": "Collection ID",
                        "required": true
                    },
                    {
                        "name": "item_id",
                        "type": "text",
                        "label": "Item ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 161479
            },
            "filter": {
                "name": "If the quantity is finite",
                "conditions": [
                    [
                        {
                            "a": "{{5.inventoryType}}",
                            "b": "finite",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "from": "drive",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "limit": "1",
                "spreadsheetId": "1MNwRoaRvTFY4xxHgIeI7G8zO0C5aHqOeHCIz0Goms3k",
                "sheetId": "Sales Report",
                "includesHeaders": true,
                "tableFirstRow": "A1:CZ1",
                "filter": [
                    [
                        {
                            "a": "A",
                            "o": "text:equal",
                            "b": "{{6.`_id`}}"
                        }
                    ]
                ],
                "sortOrder": "asc"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (james.watson@fiftyfifty.design)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Breakneck Comedy Order Confirmation"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Sales Report"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "orderBy": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Enter a Spreadsheet ID and Sheet Name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "Product ID (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "Show (B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "Location (C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "Venue (D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "Show Date (E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "No of Tickets Bought (F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "Number of Tickets Left (G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "(H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "(I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "(J)",
                        "type": "text"
                    },
                    {
                        "name": "10",
                        "label": "(K)",
                        "type": "text"
                    },
                    {
                        "name": "11",
                        "label": "(L)",
                        "type": "text"
                    },
                    {
                        "name": "12",
                        "label": "(M)",
                        "type": "text"
                    },
                    {
                        "name": "13",
                        "label": "(N)",
                        "type": "text"
                    },
                    {
                        "name": "14",
                        "label": "(O)",
                        "type": "text"
                    },
                    {
                        "name": "15",
                        "label": "(P)",
                        "type": "text"
                    },
                    {
                        "name": "16",
                        "label": "(Q)",
                        "type": "text"
                    },
                    {
                        "name": "17",
                        "label": "(R)",
                        "type": "text"
                    },
                    {
                        "name": "18",
                        "label": "(S)",
                        "type": "text"
                    },
                    {
                        "name": "19",
                        "label": "(T)",
                        "type": "text"
                    },
                    {
                        "name": "20",
                        "label": "(U)",
                        "type": "text"
                    },
                    {
                        "name": "21",
                        "label": "(V)",
                        "type": "text"
                    },
                    {
                        "name": "22",
                        "label": "(W)",
                        "type": "text"
                    },
                    {
                        "name": "23",
                        "label": "(X)",
                        "type": "text"
                    },
                    {
                        "name": "24",
                        "label": "(Y)",
                        "type": "text"
                    },
                    {
                        "name": "25",
                        "label": "(Z)",
                        "type": "text"
                    },
                    {
                        "name": "26",
                        "label": "(AA)",
                        "type": "text"
                    },
                    {
                        "name": "27",
                        "label": "(AB)",
                        "type": "text"
                    },
                    {
                        "name": "28",
                        "label": "(AC)",
                        "type": "text"
                    },
                    {
                        "name": "29",
                        "label": "(AD)",
                        "type": "text"
                    },
                    {
                        "name": "30",
                        "label": "(AE)",
                        "type": "text"
                    },
                    {
                        "name": "31",
                        "label": "(AF)",
                        "type": "text"
                    },
                    {
                        "name": "32",
                        "label": "(AG)",
                        "type": "text"
                    },
                    {
                        "name": "33",
                        "label": "(AH)",
                        "type": "text"
                    },
                    {
                        "name": "34",
                        "label": "(AI)",
                        "type": "text"
                    },
                    {
                        "name": "35",
                        "label": "(AJ)",
                        "type": "text"
                    },
                    {
                        "name": "36",
                        "label": "(AK)",
                        "type": "text"
                    },
                    {
                        "name": "37",
                        "label": "(AL)",
                        "type": "text"
                    },
                    {
                        "name": "38",
                        "label": "(AM)",
                        "type": "text"
                    },
                    {
                        "name": "39",
                        "label": "(AN)",
                        "type": "text"
                    },
                    {
                        "name": "40",
                        "label": "(AO)",
                        "type": "text"
                    },
                    {
                        "name": "41",
                        "label": "(AP)",
                        "type": "text"
                    },
                    {
                        "name": "42",
                        "label": "(AQ)",
                        "type": "text"
                    },
                    {
                        "name": "43",
                        "label": "(AR)",
                        "type": "text"
                    },
                    {
                        "name": "44",
                        "label": "(AS)",
                        "type": "text"
                    },
                    {
                        "name": "45",
                        "label": "(AT)",
                        "type": "text"
                    },
                    {
                        "name": "46",
                        "label": "(AU)",
                        "type": "text"
                    },
                    {
                        "name": "47",
                        "label": "(AV)",
                        "type": "text"
                    },
                    {
                        "name": "48",
                        "label": "(AW)",
                        "type": "text"
                    },
                    {
                        "name": "49",
                        "label": "(AX)",
                        "type": "text"
                    },
                    {
                        "name": "50",
                        "label": "(AY)",
                        "type": "text"
                    },
                    {
                        "name": "51",
                        "label": "(AZ)",
                        "type": "text"
                    },
                    {
                        "name": "52",
                        "label": "(BA)",
                        "type": "text"
                    },
                    {
                        "name": "53",
                        "label": "(BB)",
                        "type": "text"
                    },
                    {
                        "name": "54",
                        "label": "(BC)",
                        "type": "text"
                    },
                    {
                        "name": "55",
                        "label": "(BD)",
                        "type": "text"
                    },
                    {
                        "name": "56",
                        "label": "(BE)",
                        "type": "text"
                    },
                    {
                        "name": "57",
                        "label": "(BF)",
                        "type": "text"
                    },
                    {
                        "name": "58",
                        "label": "(BG)",
                        "type": "text"
                    },
                    {
                        "name": "59",
                        "label": "(BH)",
                        "type": "text"
                    },
                    {
                        "name": "60",
                        "label": "(BI)",
                        "type": "text"
                    },
                    {
                        "name": "61",
                        "label": "(BJ)",
                        "type": "text"
                    },
                    {
                        "name": "62",
                        "label": "(BK)",
                        "type": "text"
                    },
                    {
                        "name": "63",
                        "label": "(BL)",
                        "type": "text"
                    },
                    {
                        "name": "64",
                        "label": "(BM)",
                        "type": "text"
                    },
                    {
                        "name": "65",
                        "label": "(BN)",
                        "type": "text"
                    },
                    {
                        "name": "66",
                        "label": "(BO)",
                        "type": "text"
                    },
                    {
                        "name": "67",
                        "label": "(BP)",
                        "type": "text"
                    },
                    {
                        "name": "68",
                        "label": "(BQ)",
                        "type": "text"
                    },
                    {
                        "name": "69",
                        "label": "(BR)",
                        "type": "text"
                    },
                    {
                        "name": "70",
                        "label": "(BS)",
                        "type": "text"
                    },
                    {
                        "name": "71",
                        "label": "(BT)",
                        "type": "text"
                    },
                    {
                        "name": "72",
                        "label": "(BU)",
                        "type": "text"
                    },
                    {
                        "name": "73",
                        "label": "(BV)",
                        "type": "text"
                    },
                    {
                        "name": "74",
                        "label": "(BW)",
                        "type": "text"
                    },
                    {
                        "name": "75",
                        "label": "(BX)",
                        "type": "text"
                    },
                    {
                        "name": "76",
                        "label": "(BY)",
                        "type": "text"
                    },
                    {
                        "name": "77",
                        "label": "(BZ)",
                        "type": "text"
                    },
                    {
                        "name": "78",
                        "label": "(CA)",
                        "type": "text"
                    },
                    {
                        "name": "79",
                        "label": "(CB)",
                        "type": "text"
                    },
                    {
                        "name": "80",
                        "label": "(CC)",
                        "type": "text"
                    },
                    {
                        "name": "81",
                        "label": "(CD)",
                        "type": "text"
                    },
                    {
                        "name": "82",
                        "label": "(CE)",
                        "type": "text"
                    },
                    {
                        "name": "83",
                        "label": "(CF)",
                        "type": "text"
                    },
                    {
                        "name": "84",
                        "label": "(CG)",
                        "type": "text"
                    },
                    {
                        "name": "85",
                        "label": "(CH)",
                        "type": "text"
                    },
                    {
                        "name": "86",
                        "label": "(CI)",
                        "type": "text"
                    },
                    {
                        "name": "87",
                        "label": "(CJ)",
                        "type": "text"
                    },
                    {
                        "name": "88",
                        "label": "(CK)",
                        "type": "text"
                    },
                    {
                        "name": "89",
                        "label": "(CL)",
                        "type": "text"
                    },
                    {
                        "name": "90",
                        "label": "(CM)",
                        "type": "text"
                    },
                    {
                        "name": "91",
                        "label": "(CN)",
                        "type": "text"
                    },
                    {
                        "name": "92",
                        "label": "(CO)",
                        "type": "text"
                    },
                    {
                        "name": "93",
                        "label": "(CP)",
                        "type": "text"
                    },
                    {
                        "name": "94",
                        "label": "(CQ)",
                        "type": "text"
                    },
                    {
                        "name": "95",
                        "label": "(CR)",
                        "type": "text"
                    },
                    {
                        "name": "96",
                        "label": "(CS)",
                        "type": "text"
                    },
                    {
                        "name": "97",
                        "label": "(CT)",
                        "type": "text"
                    },
                    {
                        "name": "98",
                        "label": "(CU)",
                        "type": "text"
                    },
                    {
                        "name": "99",
                        "label": "(CV)",
                        "type": "text"
                    },
                    {
                        "name": "100",
                        "label": "(CW)",
                        "type": "text"
                    },
                    {
                        "name": "101",
                        "label": "(CX)",
                        "type": "text"
                    },
                    {
                        "name": "102",
                        "label": "(CY)",
                        "type": "text"
                    },
                    {
                        "name": "103",
                        "label": "(CZ)",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 15,
                            "module": "math:EvaluateExpression",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "If data exists on sheet",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{9.`__ROW_NUMBER__`}}",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "{{5.quantity}}",
                                            "o": "number:less",
                                            "b": "{{9.`6`}}"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "expression": "{{9.`6`}}-{{5.quantity}}+{{9.`5`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1635,
                                    "y": 0
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "expression",
                                        "type": "text",
                                        "label": "Expression",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 161479
                            },
                            "mapper": {
                                "mode": "select",
                                "valueInputOption": "USER_ENTERED",
                                "from": "drive",
                                "spreadsheetId": "/1MNwRoaRvTFY4xxHgIeI7G8zO0C5aHqOeHCIz0Goms3k",
                                "sheetId": "Sales Report",
                                "rowNumber": "{{9.`__ROW_NUMBER__`}}",
                                "includesHeaders": true,
                                "values": {
                                    "5": "{{15.result}}",
                                    "6": "{{5.quantity}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1946,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (james.watson@fiftyfifty.design)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "mode": {
                                            "label": "Select by path"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Breakneck Comedy Order Confirmation"
                                            ]
                                        },
                                        "sheetId": {
                                            "label": "Sales Report"
                                        },
                                        "includesHeaders": {
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Product ID (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Show (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Location (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Venue (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Show Date (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "No of Tickets Bought (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Number of Tickets Left (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "(AA)"
                                                        },
                                                        {
                                                            "name": "27",
                                                            "type": "text",
                                                            "label": "(AB)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ],
                                            "label": "Yes"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Choose a Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "type": "collection",
                                        "label": "Values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Product ID (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Show (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Location (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Venue (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Show Date (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "No of Tickets Bought (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Number of Tickets Left (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "(AA)"
                                            },
                                            {
                                                "name": "27",
                                                "type": "text",
                                                "label": "(AB)"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 13,
                            "module": "webflow:getItem",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 161440
                            },
                            "filter": {
                                "name": "If data does not exist",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{9.`__ROW_NUMBER__`}}",
                                            "o": "notexist"
                                        },
                                        {
                                            "a": "{{8.`venue-3`}}",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "{{8.`location-3`}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "select": "manual",
                                "item_id": "{{8.`venue-3`}}",
                                "collection_id": "63ef74b5f1e5b8057d54abfd"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Manual"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "webflow"
                                            },
                                            "label": "My Webflow connection (Make)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:webflow",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter Item ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "Automatic",
                                                "manual"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "collection_id",
                                        "type": "text",
                                        "label": "Collection ID",
                                        "required": true
                                    },
                                    {
                                        "name": "item_id",
                                        "type": "text",
                                        "label": "Item ID",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "updated-by",
                                        "type": "text",
                                        "label": "Updated By"
                                    },
                                    {
                                        "name": "created-by",
                                        "type": "text",
                                        "label": "Created By"
                                    },
                                    {
                                        "name": "published-by",
                                        "type": "text",
                                        "label": "Published By"
                                    },
                                    {
                                        "name": "_cid",
                                        "type": "text",
                                        "label": "Collection ID"
                                    },
                                    {
                                        "name": "_id",
                                        "type": "text",
                                        "label": "Item ID"
                                    },
                                    {
                                        "name": "address",
                                        "type": "text",
                                        "label": "Address",
                                        "required": false
                                    },
                                    {
                                        "name": "google-map-link",
                                        "type": "url",
                                        "label": "Google Map Link",
                                        "required": false
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true,
                                        "validate": {
                                            "max": 256
                                        }
                                    },
                                    {
                                        "help": "Must be alphanumerical and not contain any spaces or special characters",
                                        "name": "slug",
                                        "type": "text",
                                        "label": "Slug",
                                        "required": false,
                                        "validate": {
                                            "max": 256
                                        }
                                    },
                                    {
                                        "name": "_archived",
                                        "type": "boolean",
                                        "label": "Archived",
                                        "default": false,
                                        "required": true
                                    },
                                    {
                                        "help": "Please note that if you want to set your item as \"Draft\", then you also need to select **No** in \"Live\" below.\nAlso note that setting the item as \"Draft\" will unpublish your item from live site (this is a native behavior of Webflow API).",
                                        "name": "_draft",
                                        "type": "boolean",
                                        "label": "Draft",
                                        "default": false,
                                        "required": true
                                    },
                                    {
                                        "name": "created-on",
                                        "time": false,
                                        "type": "date",
                                        "label": "Created On",
                                        "required": false
                                    },
                                    {
                                        "name": "updated-on",
                                        "time": false,
                                        "type": "date",
                                        "label": "Updated On",
                                        "required": false
                                    },
                                    {
                                        "name": "published-on",
                                        "time": false,
                                        "type": "date",
                                        "label": "Published On",
                                        "required": false
                                    }
                                ]
                            }
                        },
                        {
                            "id": 14,
                            "module": "webflow:getItem",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 161440
                            },
                            "mapper": {
                                "select": "manual",
                                "item_id": "{{8.`location-3`}}",
                                "collection_id": "63ef74b5f1e5b8ebbd54abfc"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Manual"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "webflow"
                                            },
                                            "label": "My Webflow connection (Make)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:webflow",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter Item ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "Automatic",
                                                "manual"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "collection_id",
                                        "type": "text",
                                        "label": "Collection ID",
                                        "required": true
                                    },
                                    {
                                        "name": "item_id",
                                        "type": "text",
                                        "label": "Item ID",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "updated-by",
                                        "type": "text",
                                        "label": "Updated By"
                                    },
                                    {
                                        "name": "created-by",
                                        "type": "text",
                                        "label": "Created By"
                                    },
                                    {
                                        "name": "published-by",
                                        "type": "text",
                                        "label": "Published By"
                                    },
                                    {
                                        "name": "_cid",
                                        "type": "text",
                                        "label": "Collection ID"
                                    },
                                    {
                                        "name": "_id",
                                        "type": "text",
                                        "label": "Item ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true,
                                        "validate": {
                                            "max": 256
                                        }
                                    },
                                    {
                                        "help": "Must be alphanumerical and not contain any spaces or special characters",
                                        "name": "slug",
                                        "type": "text",
                                        "label": "Slug",
                                        "required": false,
                                        "validate": {
                                            "max": 256
                                        }
                                    },
                                    {
                                        "name": "_archived",
                                        "type": "boolean",
                                        "label": "Archived",
                                        "default": false,
                                        "required": true
                                    },
                                    {
                                        "help": "Please note that if you want to set your item as \"Draft\", then you also need to select **No** in \"Live\" below.\nAlso note that setting the item as \"Draft\" will unpublish your item from live site (this is a native behavior of Webflow API).",
                                        "name": "_draft",
                                        "type": "boolean",
                                        "label": "Draft",
                                        "default": false,
                                        "required": true
                                    },
                                    {
                                        "name": "created-on",
                                        "time": false,
                                        "type": "date",
                                        "label": "Created On",
                                        "required": false
                                    },
                                    {
                                        "name": "updated-on",
                                        "time": false,
                                        "type": "date",
                                        "label": "Updated On",
                                        "required": false
                                    },
                                    {
                                        "name": "published-on",
                                        "time": false,
                                        "type": "date",
                                        "label": "Published On",
                                        "required": false
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 161479
                            },
                            "mapper": {
                                "mode": "select",
                                "insertUnformatted": false,
                                "valueInputOption": "USER_ENTERED",
                                "insertDataOption": "INSERT_ROWS",
                                "from": "drive",
                                "spreadsheetId": "/1MNwRoaRvTFY4xxHgIeI7G8zO0C5aHqOeHCIz0Goms3k",
                                "sheetId": "Sales Report",
                                "includesHeaders": true,
                                "values": {
                                    "0": "{{6.`_id`}}",
                                    "1": "{{6.name}}",
                                    "2": "{{14.name}}",
                                    "3": "{{13.name}}",
                                    "4": "{{formatDate(8.`doors-open`; \"DD/MM/YYYY hh:mm a\")}}",
                                    "5": "0",
                                    "6": "{{5.quantity}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (james.watson@fiftyfifty.design)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "mode": {
                                            "label": "Select by path"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Breakneck Comedy Order Confirmation"
                                            ]
                                        },
                                        "sheetId": {
                                            "label": "Sales Report"
                                        },
                                        "includesHeaders": {
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Product ID (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Show (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Location (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Venue (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Show Date (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "No of Tickets Bought (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Number of Tickets Left (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "(AA)"
                                                        },
                                                        {
                                                            "name": "27",
                                                            "type": "text",
                                                            "label": "(AB)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ],
                                            "label": "Yes"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Choose a Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "type": "collection",
                                        "label": "Values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Product ID (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Show (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Location (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Venue (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Show Date (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "No of Tickets Bought (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Number of Tickets Left (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "(AA)"
                                            },
                                            {
                                                "name": "27",
                                                "type": "text",
                                                "label": "(AB)"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}